<h1><%=@message.title%></h1>

<% @messages.each do |x| %>
<%= x.content %>
<br>
<% end %>

<br>
<br>

<% if @current_user%>
  <%= form_for(@message), url: '' do |f|%>
    <%= f.label 'Add Message'%>
    <%= f.text_field :content%>
    <%= f.submit "Message"%>
  <% end%>
<% end  %>

