<%= form_for :user, url: "/logged", method: "post" do |f|%>

  <%= flash[:notice] if flash[:notice] %>

  <div class="ui very large form">
  <div class="two fields">
    <div class="field">
      <%= f.label :name, 'User'%>
      <%= f.text_field :name%>
    </div>
    <div class="field">
      <%= f.label :password%>
      <%= f.password_field :password%>
    </div>
  </div>
  <div >
    <%= f.submit "Log In", class:"ui submit button" %>
  </div>
</div>

<% end%>


