<h1>LOG IN</h1>

<%= flash[:notice] if flash[:notice] %>

<%= form_for :user, url: "/loggedin", method: "post" do |f|%>
  <%= f.label :name%>
  <%= f.text_field :name%><br>
  <%= f.label :password%>
  <%= f.password_field :password%><br>
  <%= f.submit "Log In"%>
<% end%>