<div>
    <%= form_for @user do |f| %>
    <div>
       <%= f.label 'Username:' %>
       <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label 'Password:' %>
        <%= f.password_field :password %>
     </div>
     <%= f.submit 'Login' %>
     <% end %>
</div>

