<div>
   <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
         <div><%= error %></div>
      <% end %>
   <% end %>
</div>
<div>
   <%= form_for @user do |f| %>
   <div>
      <%= f.label :name, 'User name:' %>
      <%= f.text_field :name %>
   </div>
   <div>
      <%= f.label 'Password:' %>
      <%= f.password_field :password %>
   </div>

      <% if @current_user %>
      <div>
         <%= f.label 'Email:' %>
         <%= f.email_field :email %>
      </div>
      <div>
         <%= f.label 'DOB' %>
         <%= f.number_field :dob %>
      <div>
         <%= f.label 'City:' %>
         <%= f.text_field :loc %>
      </div>
      <% end %>

   <% if !@current_user %>
   <div>
      <%= f.fields_for :tags do |t| %>
      <div>
         <%= t.label :main_tag, 'Tag your interests' %>
         <%= t.text_field :main_tag %>
      </div>
         <%= t.hidden_field :event_id, value: nil %>
         <%= t.hidden_field :user_id, value: @user.id %>
      <% end %>
   </div>
   <% end %>

   <%= f.submit 'Submit' %>
   <% end %>
</div>