<div>
   <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
         <div><%= error %></div>
      <% end %>
   <% end %>
</div>
<div>
   <%= form_for @user do |f| %>
   <div>
      <%= f.label 'Username:' %>
      <%= f.text_field :name %>
   </div>
   <div>
      <%= f.label 'Password:' %>
      <%= f.text_field :password %>
   </div>
   <div>
      <%= f.label 'Email:' %>
      <%= f.email_field :email %>
   </div>
   <div>
      <%= f.label 'DOB' %>
      <%= f.number_field :dob %>
   <div>
      <%= f.label 'City:' %>
      <%= f.text_field :loc %>
   </div>
      <%= f.submit 'save' %>
   <% end %>
</div>