<h1><%=@user.name%></h1>
<h4><%=@user.email%></h4>
<h4><%=@user.dob%></h4>
<h4><%=@user.loc%></h4>
<%= link_to 'users', users_path%>
<%= link_to 'delete', user_path(@user), method: :delete %>
<%= link_to 'edit', "#{user_path(@user)}/edit" %>
