<div>
   <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
         <div><%= error %></div>
      <% end %>
   <% end %>
</div>
<div>
   <%= form_for @tag do |f| %>
   <div>
      <%= f.label :main_tag, 'Tag' %>
      <%= f.text_field :main_tag %>
   </div>
      <%= f.submit 'Done' %>
   <% end %>
</div>