<!DOCTYPE html>
<html>
  <head>
    <title>Meetup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js'%>
  </head>

  <body>

      <div class="ui secondary  menu">
        <%= @current_user ?
          link_to('MeetUp', new_event_path, {class:"active item"}) :
          link_to('MeetUp', '/', {class:"active item"})
        %>
        <% if @current_user %>
          <% if session[:profile].count < 3 %>
            <%= link_to '!!', edit_user_path(@current_user), {class:"item"} %>
          <% end %>
          <%= link_to @current_user.name, user_path(@current_user), {class:"item"} %>
        <% elsif request.fullpath != "/users/new" %>
          <%= link_to 'New User', '/users/new', {class:"item"} %>
        <% end %>
        <div class="right menu">
          <div class="item">
            <div class="ui icon input">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
          </div>
          <% if @current_user %>
          <%= link_to 'Logout', '/logout', {method: :delete, class:"ui item"} %>
          <% end %>
        </div>
      </div>


      <%= yield %>
  </body>
</html>