<!DOCTYPE html>
<html>
  <head>
    <title>Meetup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if @current_user %>
      <h7>
        Profile: <%= link_to @current_user.name, user_path(@current_user) %>
        <% if session[:profile].count < 3 %>
          <%= link_to '!', "/users/#{@current_user.id}/edit" %>
         <% end %>
      </h7>
      <% elsif request.fullpath != "/users/new" %>
          <%= render 'sessions/login_form'%>
      <% end %>


      <%= yield %>
  </body>
</html>
