<!DOCTYPE html>
<html>
  <head>
    <title>Meetup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js'%>
  </head>

  <body>
      <% if @current_user %>
      <div><h5>
          Profile: <%= link_to @current_user.name, user_path(@current_user) %>
        <% if session[:profile].count < 3 %>
          <%= link_to '!!', "/users/#{@current_user.id}/edit" %>
         <% end %>
         <%= link_to 'new event', new_event_path %>
      </h5></div>
      <% elsif request.fullpath != "/users/new" %>
          <%= render 'sessions/login_form'%>
      <% end %>
      <%= yield %>
  </body>
</html>
