<!DOCTYPE html>
<html>
  <head>
    <title>Meetup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if @current_user %>
      <h7>User: <%= @current_user.name %></h7>
      <%= button_to "Log out", {action: "logout", controller: "sessions"}, method: "delete" %>
      
      <% else %>
        <%= link_to "Login", "/login"%>
      <% end %>
  
      <%= yield %>
  </body>
</html>
